<section id="body">
  <div id="header">
    <h2>Контакты</h2>
    <mat-divider></mat-divider>
  </div>

  <div id="content">
    <div id="contacts">
      <mat-list>
        <mat-list-item><p>Сергей - менеджер - 89001231313</p></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><p>Инна - отдел продаж - 89001231313</p></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><p>Павел - HR - 89001231313</p></mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
    <div id="social-networks">
      <ul>
        <li><a href=""><fa-icon [icon]="faVk" size="2xl" color="#000"></fa-icon></a></li>
        <li><a href=""><fa-icon [icon]="faTelegram" size="2xl"></fa-icon></a></li>
        <li><a href=""><fa-icon [icon]="faLinkedin" size="2xl"></fa-icon></a></li>
        <li><a href=""><fa-icon [icon]="faXTwitter" size="2xl"></fa-icon></a></li>
      </ul>
    </div>
  </div>
</section>
