<section id="outter">
  <div id="photo">
    <img src="assets/images/thumbnail-photo.jpg" alt="Thumbnail photo">
  </div>
  <div id="content">
    <div id="header">
      <h1 style="font-size: 2.5rem;">
        Лучшие кроссовки
      </h1>
    </div>
    <div id="body">
      <p>
        Магазин кроссовок предлагает широкий ассортимент моделей от ведущих брендов для всех возрастов и стилей. У нас вы найдете удобные и стильные кроссовки для активного образа жизни, спорта и повседневной носки. Наши товары отличаются высоким качеством и доступными ценами.
      </p>
    </div>
    <div id="catalog-button">
      <a mat-flat-button color="primary" [routerLink]="['/catalog']">К каталогу</a>
    </div>
  </div>
</section>
