<section id="outter">
  <div id="photo">
    <img src="assets/images/thumbnail-photo.jpg" alt="Thumbnail photo">
  </div>
  <div id="content">
    <div id="header">
      <h1>
        Лучшие кроссовки
      </h1>
    </div>
    <div id="body">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga ex non
        sunt molestias praesentium exercitationem voluptatem, nihil deleniti
        minus a id adipisci expedita excepturi, sequi vel quam eum ad ea?
      </p>
    </div>
    <div id="catalog-button">
      <a mat-flat-button color="primary">К каталогу</a>
    </div>
  </div>
</section>
